.user-icon {
  --icon-diameter: 2.5rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--icon-diameter);
  width: var(--icon-diameter);
  border-radius: 50%;
  border: 0;
  overflow: hidden;
  background-color: color-mix(in srgb, var(--palette-primary-main), var(--palette-common-white) 70%);
  flex: 0 0 var(--icon-diameter);

  & .user-icon__initials {
    font-size: calc(var(--icon-diameter) / 2.5);
    font-weight: 600;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--palette-primary-main), black 20%);
  }

  &::after {
    content: '';
    background-image: var(--pp-url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    height: var(--icon-diameter);
    width: var(--icon-diameter);
  }

  &:focus-visible {
    outline: 2px solid var(--palette-primary-main);
  }
}
