.env
neo4j-db/
API/__pycache__/
API/venv
nvidia
package-lock.json
API/helpers/__pycache__/
ollama_models/
ollama/
/API/llmconfig/__pycache__
/API/batch
API/ChatLogs/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Frontend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
