// _variables.scss
$sidebar-bg: #202123;
$navbar-bg: #343541;
$text-color: #fff;
$secondary-text-color: #a9a9a9;
$hover-color: #565869;
$main-bg: #f4f4f4;
$main-text-color: #333;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  align-items: center; // Use align-items to center horizontally
  // width: 100vw; // Uncomment to make the container take full viewport width
  background-color: yellow;
}
