$primary-color: #1e1e2e;
$secondary-color: #282a36;
$accent-color: #4a90e2;
$user-msg-bg: #4a90e2;
$bot-msg-bg: #44475a;
$text-color: #f8f8f2;

.chatContainer {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  min-width: 400px;
  margin: auto;
  border-radius: 10px;
  background: $primary-color;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

// .special {
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: space-between;
// }
.chatWindow {
  flex: 1;
  padding: 15px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;

  .message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    color: $text-color;

    &.user {
      align-self: flex-end;
      background: $user-msg-bg;
      border-bottom-right-radius: 0;
    }

    &.bot {
      align-self: flex-start;
      background: $bot-msg-bg;
      border-bottom-left-radius: 0;
      border: 1px solid #333;
    }

    .bubble {
      padding: 10px;
    }

    .messageFooter {
      display: flex;
      gap: 10px;
      margin-top: 4px;
      align-self: flex-end;

      .timestamp {
        font-size: 10px;
        opacity: 0.6;
      }

      .iconContainer {
        text-align: right;
      }
    }
  }

  .typing {
    align-self: flex-start;
    font-size: 12px;
    color: $text-color;
    opacity: 0.7;
    animation: blink 1.5s infinite;
  }
}

.chatInput {
  display: flex;
  padding: 10px;
  background: $secondary-color;
  align-items: center;
  justify-content: end;
  position: fixed;
  bottom: 30px;
  width: 100%;
  max-width: 700px;
  max-height: 200px;

  textarea {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: $text-color;
    font-size: 14px;
    outline: none;
    max-height: 200px;
    min-height: 40px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  button {
    background: $accent-color;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 40px;

    svg {
      font-size: 18px;
    }

    &:hover {
      background: lighten($accent-color, 10%);
    }
  }
}

/* Typing Animation */
@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
