$sidebar-width: 250px;
$collapsed-width: 60px;
$transition-speed: 0.3s;

.layout {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;

.content {
  display: flex;
  flex: 1;

.sidebar {
  width: $sidebar-width;
  transition: width $transition-speed ease;
  // background-color: #2c3e50;
  // color: white;
  // overflow: hidden;

  &.collapsed {
    width: $collapsed-width;
  }
}

.main {
  margin-top: 60px;
  flex: 1;
  padding: 20px;
  transition: margin-left $transition-speed ease;

  &.expanded {
    margin-left: $collapsed-width;
  }
}
}
}
