$breakpoints-xs: 0;
$breakpoints-sm: 576;
$breakpoints-md: 768;
$breakpoints-lg: 992;
$breakpoints-xl: 1336;
$direction: ltr;
$palette-common-black: #464646;
$palette-common-white: #fff;
$palette-grey-100: #f8f8f8;
$palette-grey-200: #e3e4e4;
$palette-grey-300: #cecfd0;
$palette-grey-400: #b9babc;
$palette-grey-500: #a5a6a8;
$palette-grey-600: #909194;
$palette-grey-700: #747679;
$palette-grey-disabled: #a5a6a8;
$palette-primary-light: #f1f4fa;
$palette-primary-main: #325eb5;
$palette-primary-dark: #1e386d;
$palette-primary-contrastText: #fff;
$palette-secondary-light: #f4d8bc;
$palette-secondary-main: #e07e27;
$palette-secondary-dark: #b3651f;
$palette-secondary-contrastText: #fff;
$palette-error-light: #f29d9d;
$palette-error-main: #df0909;
$palette-error-dark: #860505;
$palette-error-contrastText: #fff;
$palette-warning-light: #ffe799;
$palette-warning-main: #ffc400;
$palette-warning-dark: #cc9d00;
$palette-warning-contrastText: #000;
$palette-info-light: #90caea;
$palette-info-main: #3ba1d9;
$palette-info-dark: #1c6892;
$palette-info-contrastText: #000;
$palette-success-light: #9fc190;
$palette-success-main: #408321;
$palette-success-dark: #264f14;
$palette-success-contrastText: #fff;
$palette-action-active-light: #7986cb;
$palette-action-active-main: #4f98ff;
$palette-action-active-dark: #303f9f;
$palette-action-active-contrastText: #fff;
$palette-action-hover-light: #7986cb;
$palette-action-hover-main: #006dff;
$palette-action-hover-dark: #303f9f;
$palette-action-hover-contrastText: #fff;
$palette-action-focus-light: #7986cb;
$palette-action-focus-main: #4f98ff;
$palette-action-focus-dark: #303f9f;
$palette-action-focus-contrastText: #fff;
$shadows-1: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
$shadows-2: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
$shadows-3: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
$shadows-4: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
$shadows-5: 0 0 8px rgba(0, 0, 0, 0.12), 0 14px 28px rgba(0, 0, 0, 0.14);
$typography-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-fontSize: 15;
$typography-lineHeight: 1.2;
$typography-fontWeightLight: 300;
$typography-fontWeightRegular: 400;
$typography-fontWeightMedium: 500;
$typography-fontWeightBold: 700;
$typography-h1-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h1-fontWeight: 500;
$typography-h1-fontSize: 60;
$typography-h1-lineHeight: 1.167;
$typography-h1-letterSpacing: -0.01562em;
$typography-h2-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h2-fontWeight: 300;
$typography-h2-fontSize: 60;
$typography-h2-lineHeight: 1.2;
$typography-h2-letterSpacing: -0.00833em;
$typography-h3-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h3-fontWeight: 400;
$typography-h3-fontSize: 28;
$typography-h3-lineHeight: 1.167;
$typography-h3-letterSpacing: 0em;
$typography-h4-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h4-fontWeight: 600;
$typography-h4-fontSize: 20;
$typography-h4-lineHeight: 1.2;
$typography-h4-letterSpacing: 0.00735em;
$typography-h5-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h5-fontWeight: 400;
$typography-h5-fontSize: 24;
$typography-h5-lineHeight: 1.334;
$typography-h5-letterSpacing: 0em;
$typography-h6-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-h6-fontWeight: 500;
$typography-h6-fontSize: 20;
$typography-h6-lineHeight: 1.6;
$typography-h6-letterSpacing: 0.0075em;
$typography-subtitle1-fontFamily: "Century Gothic", "Helvetica", "Arial",
  sans-serif;
$typography-subtitle1-fontWeight: 300;
$typography-subtitle1-fontSize: 17;
$typography-subtitle1-lineHeight: 1.2;
$typography-subtitle1-letterSpacing: 0.00938em;
$typography-subtitle2-fontFamily: "Century Gothic", "Helvetica", "Arial",
  sans-serif;
$typography-subtitle2-fontWeight: 300;
$typography-subtitle2-fontSize: 16;
$typography-subtitle2-lineHeight: 1.2;
$typography-subtitle2-letterSpacing: 0.00714em;
$typography-body1-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-body1-fontWeight: 300;
$typography-body1-fontSize: 16;
$typography-body1-lineHeight: 1.5;
$typography-body1-letterSpacing: 0.00938em;
$typography-body2-fontFamily: "Century Gothic", "Helvetica", "Arial", sans-serif;
$typography-body2-fontWeight: 300;
$typography-body2-fontSize: 14;
$typography-body2-lineHeight: 1.43;
$typography-body2-letterSpacing: 0.01071em;
$typography-button-fontFamily: "Century Gothic", "Helvetica", "Arial",
  sans-serif;
$typography-button-fontWeight: 400;
$typography-button-fontSize: 14;
$typography-button-lineHeight: 1em;
$typography-button-letterSpacing: 0.05em;
$typography-button-textTransform: uppercase;
$typography-caption-fontFamily: "Century Gothic", "Helvetica", "Arial",
  sans-serif;
$typography-caption-fontWeight: 300;
$typography-caption-fontSize: 12;
$typography-caption-lineHeight: 1.66;
$typography-caption-letterSpacing: 0.03333em;
$typography-overline-fontFamily: "Century Gothic", "Helvetica", "Arial",
  sans-serif;
$typography-overline-fontWeight: 300;
$typography-overline-fontSize: 12;
$typography-overline-lineHeight: 2.66;
$typography-overline-letterSpacing: 0.08333em;
$typography-overline-textTransform: uppercase;
$shape-borderRadius: 4;
$transitions-easing-easeInOut: cubic-bezier(0.8, 0, 0.2, 1);
$transitions-easing-easeOut: cubic-bezier(0.1, 0.9, 0.2, 1);
$transitions-easing-easeIn: cubic-bezier(0.9, 0.1, 1, 0.2);
$transitions-easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);
$transitions-duration-shortest: 100;
$transitions-duration-shorter: 150;
$transitions-duration-short: 250;
$transitions-duration-standard: 300;
$transitions-duration-complex: 375;
$transitions-duration-enteringScreen: 225;
$transitions-duration-leavingScreen: 195;
$zIndex-mobileStepper: 1000;
$zIndex-speedDial: 1050;
$-zIndex-appBar: 1200;
$zIndex-drawer: 1100;
$-zIndex-modal: 1300;
$zIndex-snackbar: 1400;
$zIndex-tooltip: 1500;
