langchain_community
langchain_experimental
langchain_ollama
neo4j
neo4j-graphrag
neo4j-graphrag[ollama]
pandas
uvicorn
fastapi
json_repair
python-multipart
PyPDF2
python-docx
sentence_transformers
Ollama
eval-type-backport